@inherits LayoutComponentBase

@Body

<footer class="app-footer">
    <p class="app-footer-text">
        Open source.
        <a class="app-footer-link"
           href="https://github.com/wardweistra/fhir-ig-comparison"
           target="_blank"
           rel="noopener noreferrer">
            Contribute on GitHub
        </a>
    </p>
</footer>
